<div id="teams_container">
    <h3>TEAMS(0)</h3>  
    <p class="profile_subtitle"><a href="#"><%= @player.name %></a> is not a member of any teams<p>
    <ul id="teams">
<!--         <li><a class="team" href="#"><img src="img/team/anonymous.png">Anonymous</a></li>
 -->    </ul>
</div>