<div id="splash">
	<%= image_tag "logo_basketball_shadow.png", :id => 'splash_logo' %>
	<p><span class="black">Findbball.com</span> is coming this fall! Subscribe here:</p>
	<div id="mailingListContainer">
		<form id="mailingListForm" action="#">
			<input type="text" id="mailingList"></input> <button type="submit" class="btn btn-primary">Submit</button>
			<input type="text" name="email" id="email"></input>
		</form>
	</div>
</div>
