<div id="splash">
	<%= image_tag "logo_basketball_shadow.png", :id => 'splash_logo' %>
	<p><span class="black">Findbball.com</span> is coming this fall! Subscribe here:</p>
	<div id="mailingListContainer">
		<form action="http://FindBball.us8.list-manage2.com/subscribe/post?u=260229d58e57a8eb09bd30837&amp;id=87674013ff" 
	     method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			<input type="email" value="" name="EMAIL" class="email" id="mailingList" required><button type="submit" class="btn btn-primary">Submit</button>
			<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    		<div style="position: absolute; left: -5000px;"><input type="text" name="b_260229d58e57a8eb09bd30837_87674013ff" tabindex="-1" value=""></div>
		</form>
	</div>
</div>