<% if Rails.env.production? %>
<div id="ad_972_container">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">

</script>
<!-- FindBball.com -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-5545049690666993"
     data-ad-slot="4066284862"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<% end %>