<h3>PLAYERS</h3>  
                    
<a class="friend" href="#"><%= image_tag "members/paris_hilton.jpg", id: "profile_pic" %></a>
<a class="friend" href="#"><%= image_tag "members/falcor.gif", id: "profile_pic" %></a>
<a class="friend" href="#"><%= image_tag "members/notacop.jpg", id: "profile_pic" %></a>
<br>
<span class="smaller gray">See who's playing at this court.</span>