<div id="friends_container">
    <h3>FRIENDS(0)</h3>
    <p class="profile_subtitle"><%= @player.name %></a> doesn't have any friends.</p>
    <!--     <a class="friend" href="#"><img src="img/user/paris_hilton.jpg"></a> -->
</div>