<h3>PLAYERS</h3>  
                    
<a class="friend" href="#"><img src="img/user/paris_hilton.jpg"></a>
<a class="friend" href="#"><img src="img/user/falcor.gif"></a>
<a class="friend" href="#"><img src="img/user/notacop.jpg"></a>
<br>
<span class="smaller gray">See who's playing at this court.</span>