<div id="court_events_container">   
	<h3>EVENTS(3)</h3> 
	<div class="court_event">
		<a href="#" class="court_event_title">Pick-Up Game</a><br>
		<span class="court_event_time"><i>8:00 pm tonight</i></span><br>
		<a href="#" class="court_players">3 people</a> playing
		<button class="btn join_btn">Join</button>
	</div>
	<div class="court_event">
		<a href="#" class="court_event_title">Senior Ball</a><br>
		<span class="court_event_time"><i>8:00 pm tomorrow</i></span><br>
		<a href="#" class="court_players">3 people</a> playing
		<button class="btn join_btn">Join</button>
	</div>
	<div class="court_event">
		<a href="#" class="court_event_title">Pick-Up Game</a><br>
		<span class="court_event_time"><i>8:00 pm Friday</i></span><br>
		<a href="#" class="court_players">1 person</a> playing
		<button class="btn join_btn">Join</button>
	</div>   
</div>