<div class="sidebar left">
    <div id="court_left">
        <div id="profile_pic_container" class="court_pic">
            <%= image_tag @event.mainPhoto, id: "profile_pic" %>
                <% if current_user?(@event.member) %>
                    <a href="#" id="edit_photo" class="edit_court_photo">
                        change photo
                    </a>
                <% end %>
        </div>
        <button id="joinEvent" class="btn">Join Event</button>
        <br>
        <div id="friends_container">
            <h4>PLAYERS(0)</h4>
        </div>
    </div>
</div>
