<div id="member_events_container">
	<h3>EVENTS(1)</h3>
    <div id="events_container">
        <div class="event">
            <span class="event_time">Tomorrow 8:00 p.m.</span><br>
            <a href="#" class="event_title">Elderly Ball</a><br>
            <a href="#" class="event_location">Wicker Park Fieldhouse</a>
        </div>
    </div>
</div>