	<div class="sidebar left">
            <div id="court_left">
                <div id="profile_pic_container" class="court_pic">
                    <%= image_tag mainPhoto, id: "profile_pic" %>
                    <a href="#" id="edit_photo" class="edit_court_photo">
                        change photo
                    </a>
                </div>
                <button id="playToday" class="btn">Play at this court today</button>
                <%= render '/events/court_events_container' %>
                <%= render '/courts/court_players' %>
            </div>
    </div>
