<div class="courtVideo">
    <img src="http://img.youtube.com/vi/<%= vi %>/1.jpg">
    <a href="http://www.youtube.com/watch?v=<%= vi %>" class="play_btn"></a>
    <%= render :partial => "modals/youtube_modal", :locals => {:vi => vi} %>
</div>