<div id="courts_container">
	<% if @member.courts.any? %>
    	<h3>COURTS(<%= @member.courts.count %>)</h3>
    		<ul id="courts">
    			<%= render @courts %>
    		</ul>
    <% else %>
    	<h3>COURTS(0)</h3>
    <% end %>
</div>