	<div class="sidebar left">
            <div id="court_left">
                <div id="profile_pic_container" class="court_pic">
                    <%= image_tag "courts/default.jpg", id: "profile_pic" %>
                    <a href="#" id="edit_photo" class="edit_court_photo">
                        change photo
                    </a>
                </div>
            </div>
    </div>
