<% if @court.players.any? %>
<h3>PLAYERS</h3>
<div id="friends">
    <% @court.players.each do |player| %>
        <%= link_to( image_tag(player.profile_photo.thumb, { height: 40, width: 40 }), player) %>
    <% end %>
</div>
<% end %>
<br>
