<h3>VIDEOS(1)</h3>
<div id="courtVideos_container">
        <div id="courtVideos">
            <%= render :partial => "/courts/court_video", :locals => {:vi => "EEtpH6ZEPOc"} %>
        </div>
    <a href="#" id="add_court_video"><%= image_tag "icon/upload.png" %> Add Video</a>
</div>