<p class='pickupGameCreateContainer'>
<% day_options = [
                    ["Select a Day", ""],
                    ["Sundays", 0],
                    ["Mondays", 1],
                    ["Tuesdays", 2],
                    ["Wednesdays", 3],
                    ["Thursdays", 4],
                    ["Fridays", 5],
                    ["Saturdays", 6],
                    ["Daily", 7]
                ]
%>
<% time_options = [["12:00", 0.0], ["1:00", 1], ["2:00", 2], ["3:00", 3], ["4:00", 4], ["5:00", 5], ["6:00", 6],
                     ["7:00", 7], ["8:00", 8], ["9:00", 9], ["10:00", 10], ["11:00", 11]] %>

<% am_options = [["AM", "am"], ["PM", "pm"]] %>
<%= f.select :day, day_options, {:include_blank=>false}, { :class => 'courtDay' } %>
<select class="selectCourtPickupTime">
    <option value="0">12:00</option>
    <option value="1">1:00</option>
    <option value="2">2:00</option>
    <option value="3">3:00</option>
    <option value="4">4:00</option>
    <option value="5">5:00</option>
    <option selected value="6">6:00</option>
    <option value="7">7:00</option>
    <option value="8">8:00</option>
    <option value="9">9:00</option>
    <option value="10">10:00</option>
    <option value="11">11:00</option>
</select>
<select class="selectCourtPickupAMPM">
    <option value="0">AM</option>
    <option value="12" selected>PM</option>
</select>
<%= f.text_field :time, :class => 'selectCourtTime' %>
<%= f.hidden_field :member_id, :value => current_user.id %>
</p>