	<div class="sidebar right">
            <div class="author_container">
                <a href="player_profile.html"><img src="img/user/jerry.jpg"></a><br>
                added by <b><a href="player_profile.html">Jerry</a></b><br>
                April 2013<br>
            </div>
        <div id="profile_right">
            <div id="court_map">
            </div>
            <h4 id="milesAway">3 miles away</h4>
            <p>Get Directions</p>
            <a href="#" id="changeLocation">Change your location</a><br>
            <img id="ad_right" src="img/ad_right.jpg">
        </div>
    </div>
