	<div class="sidebar right">
            <div class="author_container">
                <a href="player_profile.html"><%= image_tag "members/jerry.jpg", id: "profile_pic" %></a><br>
                added by <b><%= link_to @court.member, show_member_path(@court.member) %></a></b><br>
                <%= @court.created_at %><br>
            </div>
        <div id="profile_right">
            <div id="court_map">
            </div>
            <h4 id="milesAway">3 miles away</h4>
            <p>Get Directions</p>
            <a href="#" id="changeLocation">Change your location</a><br>
            <%= image_tag "courts/ad_right.jpg", id: "ad_right" %>
        </div>
    </div>
