<% provide(:title, @court.name) %>

<div class="container-fluid">
	<%= render '/courts/court_edit_profile_left' %>
  	<%= render '/courts/court_edit_profile_right' %>
	<div class="content">
    	<%= render '/courts/court_edit_profile_center' %>
    </div>
