<% provide(:title, @court.name) %>
<div id="edit_court_map" class="mapEl"></div>
    <div id="content_wrapper">
        <div id="content">
            <div id="heading_articles">
                   <h3 id="edit_court_h3">EDIT COURT</h3>
            </div>
            <div id="courtEditForm">
                <%= render 'courts/court_edit_form' %>
            </div>
            <div id="adspace">
                <%= render 'ads/placeholder' %>
            </div>
        </div>
    </div>