<% provide(:title, @court.name) %>
<div class="container-fluid">
	<%= render '/courts/court_left' %>
  	<%= render '/courts/court_right' %>
	<div class="content">
    	<%= render '/courts/court_center' %>
    </div>
