Welcome to FindBball, <%= @member.name %>,
Click the link below to verify your email.
<br>
<% @link = 'http://findbball.com/verify_email?i=#{@member.id}&q=#{@member.verification}' %>


<a href="<%= @link %>">
<%= @link %>
</a>