<div id="aboutUsModal" class="modal hid fade">
    <div class="modal-message">
        <div class="modal-content scroll-modal" >
            <h2 class="footer_modal_heading">About Us</h2>
            <h3>The Heart of Findbball.com</h3>
            <p>NBA talent was never in my gene pool but fortunately I have been able to use basketball to make an impact in my community, working through non-profit organizations and leading a sports ministry for nearly four years. My name is Erroll Keller and I am the Founder of Findbball.com.</p>
            <p>(I'm the short guy in the middle of the circle)</p>
            <%= image_tag "aboutUs1.jpg", class: "floatLeft" %>
            <br>
            <br>
            <p>
                It’s no secret that Basketball promotes health, teamwork, and community but it’s also an effective tool for building positive mentoring relationships with men and woman. The impact that basketball can accomplish in the local community...Findbball seeks to accomplish worldwide.
            </p>
            <p>
                This is my passion and the heart of Findbball.com.
            </p>
            <div class="clearBoth"></div>
            <h3>join. discover. ball.</h3>
            <p>
                Findbball is all about promoting positive character in the lifestyle of athletes and helping others achieve their health and fitness goals. The Findbball Team is comprised of ex-collegiate athletes, coaches, and recreational basketball players who all share a passion for giving back to the community.
            </p>
            <p>
                This site was created to engage its audience with videos, articles, news, and social media that enriches athletic development and encourages fruitful character. Findbball website and mobile app also provide updates on the nearest basketball tournaments, events, and “pick-up” games happening in your location and around the world. This makes Findbball.com a very popular and indispensable tool for players of every age.
            </p>
        </div>
    </div>
</div>