<div id="aboutUsModal" class="modal hid fade">
    <div class="modal-message">
        <div class="modal-content scroll-modal" >
            <h2 class="footer_modal_heading">About Us</h2><br><br>
            <%= image_tag "aboutUs1.jpg", class: "floatLeft" %>
            <h3>The Heart of Findbball.com</h3>
            <p>
            <br>
            It’s no secret that Basketball promotes health, teamwork, and fitness. At FindBball.com, we believe basketball can be used as a catalyst to make an impact in the lives of men and women.
            </p>
            <p>
                FindBball.com is all about promoting positive character in the lifestyle of athletes and helping basketball enthusiasts and athletes achieve their health and fitness goals.
            </p>
            <br>
            <div class="clearBoth"></div>
            <p>
                This is my passion and the heart of Findbball.com.
            </p>
            <p>
                FindBball website and mobile app provide updates on the nearest basketball tournaments, events, and “pick-up” games happening in your location and around the world. Find videos, articles, and news that will get you hyped and ready to ball out!
            </p>
            <p>
                <a href="http://insidefindbball.com">Click here for our blog</a>
            </p>
        </div>
    </div>
</div>









