<div id="contactModal" class="modal hid fade">
    <div class="modal-message">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Contact Us</h4>
            </div>
            <div class="modal-body">
                For problems, additional questions or to contact us, email <a href="mailto:info@findbball.com">info@findbball.com</a>
            </div>
        </div>
    </div>
</div>