<div class="modal hid fade galleryModal">
    <div class="modal-message">
        <div class="modal-content">
            <div class="modal-body">
                <div id="gallery">

                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="next" rel="1" id="gallery_next">
                    Next <i class="icon-arrow-right"></i>
                </a>
                <a href="#" class="previous" id="gallery_previous" rel="-1">
                    <i class="icon-arrow-left"></i> Previous
                </a>
            </div>
        </div>
    </div>
</div>