<div id="howItWorksModal" class="footer_modal modal hide fade">
    <h2>Help</h2>
    New to Findbball? Start with our How it works video below
    <iframe width="560" height="315" src="//www.youtube.com/embed/_NjesuZ9wgo" frameborder="0" allowfullscreen>
    </iframe>
    For additional questions, email <a href="mailto:info@findbball.com">info@findbball.com</a>
</div>