<div id="howItWorksModal" class="footer_modal modal-content hide fade">
    <h2>Help</h2>
    New to Findbball? Start with our How it works video below
    <iframe width="560" height="315" src="//www.youtube.com/embed/_NjesuZ9wgo" frameborder="0" allowfullscreen>
    </iframe>
    For additional questions, email <a href="mailto:info@findbball.com">info@findbball.com</a>
</div>


<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <h3>Modal Body</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>