<div class="modal fade" id="howItWorksModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-message">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Help</h4>
            </div>
            <div class="modal-body">
                New to Findbball? Start with our How it works video below
                <iframe class="center" width="560" height="315" src="//www.youtube.com/embed/_NjesuZ9wgo" frameborder="0" allowfullscreen>
                </iframe>
                <br>
                For additional questions, email <a href="mailto:info@findbball.com">info@findbball.com</a>
            </div>
        </div>
    </div>
</div>