<div id="reportProblemModal" class="modal hid fade">
    <div class="modal-message">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Report a Problem</h3>
            </div>
            <div class="modal-body">
            <p>Did you experience a bug? We're currently beta-testing the site and you may encounter issues as we develop. Please be as detailed as possible about what you experienced. Your feedback is very much appreciated.</p>
                <% @contact = Contact.new %>
                <%= form_for @contact do |f| %>
                    <%= f.text_field :message %>
                    <%= f.text_field :email %>
                    <%= f.submit "Submit" %>
                <% end %>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>