<div id="termsModal" class="modal hid fade">
    <div class="modal-message">
        <div class="modal-content scroll-modal" >
            <h2>Terms of use</h2>

            <p>IMPORTANT: READ THIS CAREFULLY! YOUR ACCESS TO FINDBBALL.COM
            IS SUBJECT TO THE FOLLOWING LEGALLY BINDING TERMS OF USE. CAREFULLY READ THE
            FOLLOWING BEFORE PROCEEDING. ACCESSING FINDBBALL.COM OR CREATING A PROFILE ON
            FINDBBALL.COM IS THE EQUIVALENT OF YOUR SIGNATURE AND INDICATES THAT YOU HAVE
            READ THESE TERMS OF USE AND THAT YOU INTEND TO BE LEGALLY BOUND BY THEM. IF YOU
            DO NOT AGREE WITH THESE TERMS OF USE, PLEASE EXIT THE WEBSITE.</p>

            <p>1. Agreement</p>

            <p>This Terms of Use (“the TOU”) is an Agreement between you,
            the person accessing Findbball.com (along with all of its contents hereinafter
            the “website”), creating a profile on the website (“You”), and/or regarding
            your use of the website. You agree that this Agreement, executed in electronic
            format shall be as effective as a written, signed and sealed contract.</p>

            <p>2. Definitions</p>

            <p>“organization” shall mean any group
            of persons whether a corporation, partnership, society or other similar body
            consisting of one or more than one person.</p>

            <p>“content” shall mean any
            communication, or sharing or posting of information of any kind done through
            the website.</p>

            <p>“the company” shall mean
            Findbball.com and it’s proprietor(s)</p>

            <p>3. Effective Date</p>

            <p>You agree that the effective date of this Agreement is the
            date when you gain access to the website for the first time, either by filling
            out the profile information and clicking on the join button or by accessing the
            website, and viewing website contents without joining.</p>

            <p>4. Consideration</p>

            <p>You agree that you are accessing a website that is good and
            valuable consideration for this Agreement, and you further agree that it is
            sufficient consideration.</p>

            <p>5. Updating of this Agreement</p>

            <p>You also agree that the Findbball.com, in its sole
            discretion, may update the TOU without notice to you and such further updates
            will be binding upon you.</p>

            <p>6. Code of Conduct</p>

            <p>You agree to the Code of Conduct as follows, and as amended
            from time to time:</p>

            <p>You agree that you will keep your password confidential and
            not allow anyone to use it to access the website and you understand that you
            alone will be liable for any unauthorized use of your account and that the
            company will not be liable;</p>

            <p>You understand that the website is primarily about sharing
            information regarding basketball courts and pick-up games within an online
            community. With that in mind you agree that you will not use the website to
            harass or cause distress to anyone in any form in any way, including but not
            limited to using the website to post anything including take part in harassing
            acts or actions or behavior. You agree that you will not use the website to
            post messages, photographs, video recordings, audio recordings, or anything
            else, which contains defamatory, outrageous, or abusive comments, or anything
            else similar;</p>

            <p>You agree that you will not use the website to post bigoted,
            racist, or offensive messages, photographs, video recordings, audio recordings
            or anything else similar;</p>

            <p>You agree that you will not use the website to post
            pornographic or obscene messages, photographs, video recordings, audio
            recordings or anything else similar;</p>

            <p>You agree that you will not use the website to conduct any
            tortious, wrong or illegal comments or activity;</p>

            <p>You also understand that the website allows you to post
            content onto the website and that you bear full responsibility, whether legal
            or otherwise for any postings made by you onto the website;</p>

            <p>You agree that you will not use the website to infringe the
            rights of any person or organization, including but not limited to privacy
            rights, property rights (including intellectual property rights or other), or
            any other rights of any person or organization;</p>

            <p>You agree that you will not use the website in any manner
            which is dishonest, fraudulent, or which violates any law or regulation,
            whether criminal or other;</p>

            <p>You agree that you will not use the website to spread any
            malicious code, including but not limited to a computer virus, worm, <span
            class=SpellE>trojan horse or any similar software or action with
            potential to cause harm to the website, the company, or to anyone else in any
            way;</p>

            <p>You agree that you will not impersonate any person or
            organization including, but not limited to, a company officer, or falsely state
            or otherwise misrepresent your affiliation with any other person or
            organization;</p>

            <p>You agree that you will not provide false or misleading
            information in your application to create a profile with the website;</p>

            <p>You agree that you are only allowed to create one profile on
            the website. You further agree that any personal identifying information you
            post publically on this website is voluntary and is not mandated; you therefore
            assume all risk associated with voluntarily provided personal identifying
            information. You will have opportunities to post private messages or contact
            people individually. You agree that Findbball.com can remove any identifying
            information in your profile, or anywhere else on the website in Findbball.com’s sole discretion.</p>

            <p>7. License</p>

            <p>You grant Findbball.com a license to display, sell, or use
            in any way it deems fit any information or materials posted by you on the
            website, provided it is original material created by you (as long as it does
            not include identifying information or information covered under the Privacy
            Policy).</p>

            <p>8. Eligibility</p>

            <p>You agree and understand that the website is designed for
            use by those 18 or older. Anyone under the age of 17 is not permitted to use
            the website. By signing up on this website you warrant that you are at least 17
            years of age.</p>

            <p>9. Screening of Content</p>

            <p>You agree and understand that Findbball.com in its sole
            discretion may elect to screen, delete, edit or pre-screen content on the
            website. You understand that this does not impose an obligation on the company
            but is a right to be exercised in the company’s sole discretion. You understand
            that these rights include, but are not limited to, the right to remove any
            content or anything else that violates the TOU or is otherwise designated for
            removal by the company in its sole discretion.</p>

            <p>10. Disclosure of Information</p>

            <p>You agree that the company may access or disclose any of
            your information or content on the website, provided it is done in compliance
            with the company’s privacy policy where feasible, if necessary or in good faith
            believed necessary to: comply with any court order or process of law, enforce
            the TOU, respond to any complaint that any third party rights of any persons or
            organizations have been affected, respond to your concerns, queries, or
            contacts with the company or safeguard the rights of any website user or the
            company or any third party.</p>

            <p>11. Non-reliance on information</p>

            <p>You understand that this website is for entertainment only.
            You agree not to rely upon any information or advice used on the website and do
            so entirely at your own risk. Though the website works hard to have accurate
            maps, the accuracy of the maps provided is not in any way warranted, and the
            website makes no representations as to the quality or reliability of the maps.
            You use the maps on the website on an as is basis entirely at your own risk. The website does not warrant the availability of the site
            or the data at any time, and as such you access it entirely at your own risk.</p>

            <p>Because the company does not screen or analyze maps input
            into the system, the company does not warrant the safety of the basketball
            courts or maps found on its site. Conditions change, maps change and hazards change
            in any activity, and basketball courts on the site may include hazards both
            man-made and natural. As such any maps used from the site are used at your own
            risk.</p>

            <p>12. Your indemnities</p>

            <p>You agree to fully indemnify and hold harmless the company
            and its directors, officers, employees, agents, representatives and anyone or
            any else or any other organization acting for the company, harmless from any
            claims, actions, costs, expenses or demands, (such claims, actions, costs, expenses
            or demands including but not limited to legal costs on a solicitor and his own
            client basis, or if that is found unreasonable by the courts then on a
            party-party basis) made by any third party or by you relating to, or arising
            from, any type of content you communicate, write, post, transmit or otherwise
            make available on the website, or through using the website, through your
            violation of the TOU or your violation of any other rights of anyone else
            (including any organization) in any way.</p>

            <p>You agree to fully indemnify and hold harmless the company
            and its directors, officers, employees, agents, representatives and anyone or
            any else or any other organization acting for the company, harmless from any
            claims, actions, costs, expenses or demands, (such claims, actions, costs,
            expenses or demands including but not limited to legal costs on a solicitor and
            his own client basis, or if that is found unreasonable by the courts then on a
            party-party basis) made by any third party or by you with regard to your use of
            the website.</p>

            <p>You agree and understand that the company relies upon the
            information provided to it by its users; it cannot verify if a user is who they
            say they are. Given this fact you access the website at your own risk, and you
            meet people through the website and communicate with them at your own risk and
            further you agree to indemnify and hold harmless the company from any claims,
            actions, costs, expenses or demands, (such claims, actions, costs, expenses or
            demands including but not limited to legal costs on a solicitor and his own
            client basis, or if that is found unreasonable by the courts then on a
            party-party basis) including those based on any tort or wrong or anything else
            known to law, which happens upon you meeting or contacting any user of the
            website for any reason. To further clarify you agree that the company is in no
            way responsible for anything that happens to you upon meeting any other user of
            the website; you do so at your own risk .</p>

            <p>13. Security of Information</p>

            <p>You understand and agree that given the nature of the
            internet there is no way for the company to guarantee that any information you
            share with the website, including but not limited to personal information and
            transactions you have with this website or on the internet in general will
            remain or be maintained in confidence and secure. You acknowledge that your use
            of this website and your access to it and its contents is done at your own
            risk.</p>

            <p>14. Linked websites</p>

            <p>You understand that this website may contain links to other
            websites (the “linked websites”). You agree and understand that the company
            does not assume any responsibility for anything on the linked websites,
            including but not limited to the accuracy or veracity of the content, postings,
            information, data, opinions, advice, statements or anything else contained at
            the linked websites. When you go to the linked websites you do so at your own
            risk. In providing links to other websites the company does not monitor or
            control such websites. A link to another website does not mean that the company
            is affiliated or associated with the same. The mention of another party or its
            product or service on this web site should not be construed as an endorsement
            of that party or its product or service. You agree to fully indemnify and hold
            harmless the company and its directors, officers, employees, agents,
            representative and anyone or any else or any other organization acting for the
            company, harmless from any claims, actions, costs, expenses or demands, (such
            claims, actions, costs, expenses or demands including but not limited to legal
            costs on a solicitor and his own client basis, or if that is found unreasonable
            by the courts then on a party-party basis) made by you relating to, or arising
            from your use or access to the linked websites.</p>

            <p>15. Warranties; use at your own risk; no liability</p>

            <p>The company is not liable for any representations whether
            explicit or implied contained within the website.</p>

            <p>You understand and agree that you bear all risks associated
            with the website. You also understand that access to the website is provided on
            an as is basis with no warranties of any kind.</p>

            <p>The parties agree that the company is not liable for any
            indirect damages or loss of profits, inaccuracy, incompleteness or timeliness
            of the website, viruses, worms, or any other malicious or harmful code or any
            data corruption or anything similar downloaded or transferred via the website.</p>

            <p>The parties agree that the company is not liable for any
            damages which result to anyone, including you or any third party or organization,
            including for the transmission, use or inability to use the website.</p>

            <p>16. Assignment</p>

            <p>You understand and agree that you cannot assign this
            Agreement or any of your rights to access the website to any third party. You
            understand that the company retains the right, in its sole discretion, to
            assign any or all of its rights and duties under this Agreement or to the
            website to any third party. In the discretion of the company, if the company’s
            obligations hereunder are assigned to a third party, the company shall be
            relieved of any and all obligations under this Agreement, including liability
            (if any).</p>

            <p>17. Changes to Website</p>

            <p>You understand and agree that the company reserves the
            right, in its sole discretion, whenever and however it chooses, to change,
            delete, or discontinue the website or any part thereof for however long that
            the company elects, with or without prior or after the fact notice to you. You
            further agree that the company shall not have any liability either to you or
            any third party for any such change, deletion or discontinuance of the website.</p>

            <p>18. Discretionary termination of accounts</p>

            <p>You agree that the company retains the right to, in its sole
            discretion, without prior or after the fact notice to you, erase, delete and
            terminate your access to the website, your account, and all of your information
            stored on the website. You understand and agree that what constitutes cause for
            the aforementioned erasing, deletion and termination is completely within the
            discretion of the company. You further understand and agree that such cause may
            include, but not be limited to: a termination carried out at your request, any
            breach of the TOU or any other contracts, rules, using the website to promote a
            competitor or using the website to advertise something not preapproved by the
            Company, or for any reason the company deems fit in its sole discretion; if you
            have lengthy periods of inactivity on the website or if your account has
            lengthy periods of inactivity; upon the request of governmental or law
            enforcement organizations, including but not limited to court orders of any
            kind; if incidental or part of any changes or deletions made to the website, or
            if the website is shut down; if you fail to pay any money owed or make good any
            debt owed to the company or any third party in relation to the website; if
            incidental or related to planned or unplanned technical problems with the
            website or security problems, or any other sort of problems; if your account
            has been used for or you have been involved in fraudulent or illegal acts or
            omissions;</p>

            <p>You understand that erasing, deleting and terminating of
            your website access and account includes but is not limited to: (a) taking away
            of your ability to access all services or parts of the website (b) deactivation
            of your password or passwords and anything related to it or them; c) deletion
            of files and content associated with or inside of your account (or any part
            thereof), and d) barring further use by you of the website.</p>

            <p>You agree that all erasing, deleting and terminating of your
            website access shall be done at the company’s discretion. You also agree that
            the company shall have no liability to you or any third party for any erasing,
            deleting and terminating of your website access, or of your account
            information.</p>

            <p>You agree that if the company terminates your account or
            informs you that you are banned from the website for any reason you understand
            that you are from that point barred permanently from accessing the website, and
            you agree that you will be liable in damages in trespass for each and any
            subsequent occasion that you access the website, and you agree that for any
            subsequent trespasses you will be liable in damages and you agree that
            injunctive relief obtained by the company will be appropriate.</p>

            <p>19. Advertisers</p>

            <p>You agree and understand that if you have any contact of any
            form with any advertisers found by way of or through the website, then such
            contact, whether by way of contract of sale or purchase, or any other contract
            or agreement of any kind have nothing to do with the company. If things do not
            work for whatever reason out in any such dealings, you bear the sole risk, and
            you further understand that the company bears no liability, whether to you or
            to any third party by reason of such contact.</p>

            <p>20. Limitation of Liability</p>

            <p>You hereby remise, release and forever discharge the company
            and the company’s agents, servants, employees, officers, directors, officials
            and representatives of and from any liabilities, claims or causes of action,
            including but not limited to costs, or damages, or interest of any kind, which
            you have had, now have or may hereafter have as a result of any cause, matter,
            or thing which has occurred or shall occur, arising in any way out of your use
            of the website, including but not limited to negligence or any other action or
            inaction which causes you or any third party damage to the person, or to
            property, or any injury or damage of any kind, howsoever caused. You waive and
            agree to be estopped from asserting anything against the company whether in
            contract, tort or equity or in any other doctrine of law. You further agree
            that this release constitutes a full and complete defense to any actions which
            you may bring against the company at any time.</p>

            <p>21. No waiver</p>

            <p>You agree and understand that though the company may elect
            not to enforce compliance with any term under this TOU that does not constitute
            waiver or mean that the company is estopped from asserting that term.</p>

            <p>22. Governing Law</p>

            <p>You agree that this Agreement shall be governed by the
            applicable laws of the companies residing state.</p>

            <p>23. No use of copyrighted material</p>

            <p>You agree you will not post copyrighted information or
            material of any sort on this website. You agree that you will not copy any
            member’s postings without first seeking their permission.</p>

            <p>24. Severability</p>

            <p>You agree that if any clause or term within this TOU is
            severed for illegality or any other reason that the remaining terms continue to
            have full force and effect.</p>

            <p>25. Entire Agreement</p>

            <p>You agree and understand that this is the entire Agreement
            between you and the company relating to your use of the website.</p>
        </div>
    </div>
</div>