<div class="modal hid fade youtubeModal" tabindex="-1" role="message" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-message">
        <div class="modal-content">
            <div class="modal-body">
                <div class="youtube_container">
                    <iframe width="560" height="315" src="//www.youtube.com/embed/<%= vi %>" frameborder="0" allowfullscreen>
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</div>