<div class="review">
	<%= image_tag "members/jerry.jpg", id: "review_author" %>
	<p class="review_body">
		<%= link_to @review.member, show_member_path(@court.member), class: "review_author" %><br>
		<%= @review.content %>
    </p>
    <hr>
</div>