<div id="reviews_container">
<% if @member.reviews.any? %>
    	<h3>REVIEWS(<%= @member.reviews.count %>)</h3>
    		<ul id="reviews">
    			<%= render @reviews %>
    		</ul>
    <% else %>
    	<h3>REVIEWS(0)</h3>
    		<p class="profile_subtitle"><%= @member.name %> hasn't written any reviews</p>
    <% end %>
</div>