<div class="review">
	<%= image_tag review.member.photo, class: "review_author" %>
	<p class="review_body">
		<%= link_to review.member.name, member_path(review.member), class: "review_author_name" %><br>
		<%= review.content %>
	</p>
	<% if current_user?(review.member) %>
		<%= link_to raw('Delete <i class="glyphicon glyphicon-trash"></i>'), review, method: :delete,
                     data: { confirm: "You sure?" },
                     class: "review_delete_link" %>
    <% end %>
		<hr>
</div>