<!--[if IEMobile 7 ]> <div id="main" class="iem7"> <![endif]-->
<!--[if lt IE 7 ]> <div id="main" class="ie"> <![endif]-->
<!--[if IE 7 ]>    <div id="main"class="ie ie7"> <![endif]-->
<!--[if IE 8 ]>    <div id="main" class="ie ie8"> <![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!-->
<div id="main"><!--<![endif]-->
    <div id="top">
              <div id="nav">
                    <a href="/home" id="logo">Findbball</a>
                    <ul id="nav_dropdown" class="dropdown">
                        <li>
                            <a href="#">Bball Courts</a>
                            <ul>
                                <li><a href="">Add Court</a></li>
                                <li><a href="#">Court Profiles</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">My Bball</a>
                            <ul>
                                <li><a class="loginBtn" href="#">My Profile</a></li>
                                <li><a class="loginBtn" href="#">Edit Profile</a></li>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="loginBtn" id="loginBtn" href="#">Login</a>
                        </li>
                        <li>
                            <li><%= link_to "Sign up", signup_path %></li>
                        </li>
                    </ul>
                    <div id="nav_top_right">
                        <a id="howItWorks" href="#">How It Works</a> <span>|</span>
                        <%= link_to "Not a member yet?", signup_path %>
                    </div>
                </div>
    <%= render 'shared/nav2' %>
</div>