<div class="sidebar left">
    <div id="profile_left">
        <div id="profile_pic_container">
            <%= image_tag @member.profile_photo, id: "profile_pic" %>
            <a href="#" id="edit_photo" class="edit_player_photo">
                edit photo
            </a>
        </div>
        <%= render "modals/upload_profile_photo_modal" %>

        <p id="profile_name">
            <%= best_in_place @member, :name, :as => :input, :activator => '#editName'%>
        </p>
        <a id="editName" href="#" class="editThis editable">edit user name</a>


        <p class="profile_subtitle">
        <%= best_in_place @member, :slogan, :as => :input, :activator => '#editSlogan',
                :place_holder => 'Slogan goes here' %>
        <br>
        </p>
        <a id="editSlogan" href="#" class="editThis editable">edit slogan</a>
    </div>
</div>