<div id="next_game">
    <h3>NEXT GAME</h3>
	<a class="top_right full_schedule">See Jerry's full schedule</a>
	<p>
	    <a href="#" class="next_game_court">Wicker Park FieldHouse</a>
	    <span class="next_game_time">Today 8:00 p.m.</span><br>
	    <span class="next_game_attendees">7 people are going</span>
	</p>
	<button class="btn btn-primary bottom_right">Join Game</button>
</div>