<table id="history">
    <thead>
        <tr>
            <th colspan="2"><h4>HISTORY</h4></th>
        </tr>
    </thead>
    <tbody>
        <% if @member.member_actions.any? %>
            <% @member.member_actions.each do |member_action| %>
                <tr>
                    <td class="tdRightAlign italics">
                        <%= time_ago_in_words(member_action.created_at) %> ago
                    </td>
                    <td>
                    <%= member_action.action_text %>
                    <% if member_action.linkType %>
                        <strong><%= link_to_member_action(member_action) %></strong>
                    <% end %>
                    </td>
                </tr>
            <% end %>
        <tr>
        </tr>
        <% end %>
</table>