<div id="play_box" class="box">
    <h4 class="box_h4">PLAY</h4>
    What court are you playing at?  <br />
    <input id="play_search" class="box_input court_search" type="text"></input>
    <br />
    <span class="smaller">Not seeing the basketball court?
    <%= link_to "Add it", new_court_path %>
    </span>
</div>
<!-- <div id="review_box" class="box">
    <h4 class="box_h4">REVIEW</h4>
    Where did you play last?<br />
    <input class="box_input court_search" type="text"></input>
    <br />
    <span class="smaller">Not seeing the basketball court or event?
    <%= link_to "Add it", new_court_path %>
</span>
</div> -->