<div class="container-fluid">
<%= render '/members/member_edit_profile_left' %>
<%= render '/members/member_profile_right' %>
<div class="content" id="editMember">
    <%= render '/members/member_edit_profile_center' %>
</div>
