<% provide(:title, @member.name) %>
<div class="container-fluid">
<%= render '/members/member_profile_left' %>
<%= render '/members/member_profile_right' %>
<div class="content">
<%= render '/members/member_profile_center' %>
</div>

